.experience {
  padding: 5% 10% 5% 10%;
  box-sizing: border-box;
}

.experience a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.experience .intro a,
.source a {
  border-bottom: solid 1px #edcf2e;
  transition: all .1s;
}

.experience .intro a:hover,
.source a:hover {
  border-bottom: solid 2px #edcf2e;
  transition: all .1s;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.story {
  margin: 2% 1% 2% 1%;
  /* background-color: green; */
  width: 300px;
}

.story-img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0.1em 0.1em 1em 0.03em black;
  margin-bottom: 20px;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}

.story-img:hover {
  box-shadow: 0.1em 0.1em 1em 0.03em #edcf2e;
  transform: scale(1.05);
}


.story p {
  margin: 0px;
}

.story-name {
  border-bottom: solid 0px #edcf2e;
  transition: all .1s;
}

.story-name:hover {
  border-bottom: solid 3px #edcf2e;
}

.story-tools {
  text-align: right;
  font-size: small;
  padding-bottom: 2%;
}

.story-org {
  font-size: medium;
  padding: 2% 0% 2% 0%;
}

.ital {
  font-style: italic;
}

fieldset {
  text-align: center;
  border: none;
  /* margin: none; */
  padding: 0px;
}

.btn {
  padding: 0% 1%;
}

.btn input {
  display: none;
}


.btn span {
  text-align: center;
  border: 1.2px solid #52575d;
  background-color: #f6f4e6;
  color: #41444b;
  padding: 6px 6px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  margin: 0.2em 0em;
  min-width: 96px;
  max-width: 96px;
}

.btn span:hover {
  background-color: #52575d;
  color: #f6f4e6;
}

.btn input:checked+span {
  background-color: #edcf2e;


}

.btn.reset span {
  background-color: #edcf2e;
  color: #52575d;
}


/* .left {
    flex: 1;
    overflow: auto;
}

.right {
    flex: 1;
}

@media only screen and (min-width: 640px) {
    .layout {
        display: flex;
    }
} */