.experience {
    padding: 0% 10% 0% 10%;
    box-sizing: border-box;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.story {
    background-color: green;
    width: 300px;
}

/* .left {
    flex: 1;
    overflow: auto;
}

.right {
    flex: 1;
}

@media only screen and (min-width: 640px) {
    .layout {
        display: flex;
    }
} */