.hero {
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0, -55%); */
    padding: 5% 10% 5% 10%;
}


h1 {
    font-size: 60px;
    color: #edcf2e;
    font-weight: 900;
    margin-top: 0px;

}

p {
    font-size: 18px;
    line-height: 24px;
}

.typeit {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #edcf2e;
}

.wave {
    cursor: default;
    animation-name: wave-animation;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    transform-origin: 70% 70%;
    display: inline-block;
}

.wave:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👋🏽</text></svg>") 16 0, auto;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.mob-jump {
    display: none;
}

@media only screen and (max-width: 600px) {
    .wave:hover {
        animation-iteration-count: 1;
    }
}

@media only screen and (max-width: 450px) {
    .mob-jump {
        display: block;
        line-height: 0px;
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.icon {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s;
    color: #f6f4e6;
}

.icon:hover {
    transform: scale(1.25);
    color: #edcf2e;
}