@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
    font-family: Roboto, sans-serif;
    /* background-image: linear-gradient(to bottom right, #171e2b, #171e2bf4); */
    /* height: 100%; */
    /* height: 100vh; */
    color: #f6f4e6;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    /* position: relative; */
    /* padding: 50% 0% 50% 0%; */
}

::selection {
    background: #41444b;
}


h1,
p,
li,
a,
footer,
.icon {
    animation: text-fade-in ease 3s;
    -webkit-animation: text-fade-in ease 3s;
    -moz-animation: text-fade-in ease 3s;
    -o-animation: text-fade-in ease 3s;
    -ms-animation: text-fade-in ease 3s;
}

@keyframes text-fade-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

@media only screen and (max-width: 600px) {
    .container {
        top: 0%;
        transform: translate(0, 0);
        padding: 10% 0% 10% 0%;
    }
}