.resume {
    padding: 5% 10% 5% 10%;
    /* display: none; */
}

.exp {
    display: flex;
}

.left {
    width: 25%;
    padding-right: 2%;
}

.right {
    width: 75%;
    padding-left: 2%;
}

.item h3 {
    padding: 0px;
    margin: 0px;
}

.item {
    padding: 1% 0%;
}

.section {
    padding: 2% 0%;
}

.resume p {
    font-size: medium;
}

.skills {
    display: flex;
}

.skill {
    width: 25%;
    padding: 0% 0.5%;
}

@media only screen and (max-width: 720px) {
    .exp {
        display: block;
    }

    .item {
        padding: 3% 0%;
    }

    .left,
    .right {
        width: 100%;
        padding: 0%;
    }

    .skls {
        display: none;
    }

    .skill {
        /* width: 100%; */
    }
}