name: Build and deploy site

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Create env file
      run: |
        touch .env
        echo FTP_USERNAME=${{ secrets.FTP_USERNAME }} >> .env
        echo FTP_PASSWORD='${{ secrets.FTP_PASSWORD }}' >> .env

    - name: Install dependencies
      run: npm install
    - name: Build
      run: npm run deploy